@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    --sz: 15px;
    --c0: #000;
    --c1: #83c072;
    --ts: 50% / calc(var(--sz) * 8) calc(var(--sz) * 16);
    margin: 0;
    padding: 0;
    overflow: auto;
    z-index: -1;
    --dot: var(--c1) 0 calc(var(--sz) * 0.78),
      #fff0 calc(calc(var(--sz) * 0.78) + 1px) 100%;
    --dot2: radial-gradient(circle at 90% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 0%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 0%, var(--dot)) var(--ts);
    --cg1: conic-gradient(from -90deg at 5% 51%, var(--c0) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg2: conic-gradient(from -90deg at 25% 50%, var(--c1) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg3: conic-gradient(
        from -90deg at 30% 38.5%,
        var(--c0) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg4: conic-gradient(
        from -90deg at 50% 37.5%,
        var(--c1) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg5: conic-gradient(from -90deg at 55% 26%, var(--c0) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg6: conic-gradient(from -90deg at 75% 25%, var(--c1) 0 90deg, #fff0 0 100%)
      var(--ts);
    --cg7: conic-gradient(
        from -90deg at 80% 13.5%,
        var(--c0) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
    --cg8: conic-gradient(
        from -90deg at 100% 12.5%,
        var(--c1) 0 90deg,
        #fff0 0 100%
      )
      var(--ts);
  
    background: var(--dot2), var(--dot2),
      radial-gradient(circle at 90% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 100%, var(--dot)) var(--ts),
      radial-gradient(circle at 90% 12.5%, var(--dot)) var(--ts),
      radial-gradient(circle at 65% 25%, var(--dot)) var(--ts),
      radial-gradient(circle at 40% 37.5%, var(--dot)) var(--ts),
      radial-gradient(circle at 15% 50%, var(--dot)) var(--ts), var(--cg1),
      var(--cg1), var(--cg2), var(--cg2), var(--cg3), var(--cg3), var(--cg4),
      var(--cg4), var(--cg5), var(--cg5), var(--cg6), var(--cg6), var(--cg7),
      var(--cg7), var(--cg8), var(--cg8),
      linear-gradient(-45deg, #fff0 0 32.25%, #0002 50%, #000 77.5%) var(--ts),
      linear-gradient(-45deg, #fff0 0 32.25%, #000 60%) var(--ts),
      repeating-linear-gradient(90deg, var(--c0) 0 5%, var(--c1) 0 25%) var(--ts);
  }
  
  .loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
  }
  
  .loader:before, .loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
  }
  
  .loader::before {
    left: 4px;
  }
  
  .loader::after {
    --r: 6deg;
    right: 4px;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
  
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
  }
  
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
  }
  
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
  }
  
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
  }
  
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
  }
  
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
  
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
  
  .loader div ul li:last-child {
    --o: 1;
  }
  
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
    color: aliceblue;
    font-size: 20px;
  }
  
  @keyframes page-2 {
    0% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    35%, 100% {
      opacity: 0;
    }
  
    50%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-3 {
    15% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  
    65%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-4 {
    30% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    65%, 100% {
      opacity: 0;
    }
  
    80%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-5 {
    45% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    65% {
      opacity: 1;
    }
  
    80%, 100% {
      opacity: 0;
    }
  
    95%, 100% {
      transform: rotateY(0deg);
    }
  }
  

  .search {
    display: inline-block;
    position: relative;
  }
  
  .search input[type="text"] {
    width: 230px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #359c09;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: green;
  }
  

  .modal {
      --size: 150px; /* control the size */
      --color: #dde6e3;
    
      background: radial-gradient(
          circle at 15% 30%,
          transparent 40%,
          var(--color) 41%
        ),
        radial-gradient(circle at 85% 30%, transparent 40%, var(--color) 41%),
        radial-gradient(circle at 50% 70%, transparent 40%, var(--color) 41%),
        radial-gradient(circle at 15% 70%, transparent 40%, var(--color) 41%),
        radial-gradient(circle at 85% 70%, transparent 40%, var(--color) 41%),
        linear-gradient(
          45deg,
          var(--color) 25%,
          rgba(0, 0, 0, 0.067) 0,
          rgba(0, 0, 0, 0.067) 50%,
          var(--color) 0,
          var(--color) 75%,
          #1111 0,
          #1111 100%,
          var(--color) 0
        );
      background-size: var(--size) var(--size);
      z-index: -1;
    }
    