@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  --size: 80px;
  --color: #fefae0;

  --l: var(--color) 20%, #0000 0;
  --bg: 35%, #606c38 0 45%, var(--color) 0;
  background: linear-gradient(45deg, var(--l) 45%, var(--color) 0 70%, #0000 0),
    linear-gradient(-45deg, var(--l) var(--bg) 70%, #0000 0),
    linear-gradient(45deg, var(--color) var(--bg));
  background-size: var(--size) var(--size);
}

  .search {
    display: inline-block;
    position: relative;
  }
  
  .search input[type="text"] {
    width: 230px;
    padding: 10px;
    border: 1px rgb(1, 10, 135) solid;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #359c09;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: green;
  }
  

    


    